<div class="footer-container">
  <div class="footer-top-section">
    <div class="flex-layout">
      <div class="left-section">
        <div class="footer-section-title">General</div>

        <div class="footer-links">
          <!-- <a href="/key-features/">Key Features</a> -->
          <a href="/onboarding/pricing/">Our Pricing</a>
          <a href="/integrations/">Our Integrations</a>
          <a href="/onboarding/contact-us/">Contact Us</a>
          <a href="/about-company/">About our Company</a>
        </div>
      </div>

      <div class="middle-section">
        <div class="footer-section-title">About Partners</div>

        <div class="footer-links">
          <a href="/cooming-soon">Checkout our Blog</a>
          <a href="/onboarding/custom-pricing">Request Custom Pricing</a>
          <a href="https://management.nextify.co.za/onboarding/"
            >Register your Restaurant</a
          >
          <a href="https://management.nextify.co.za/signin/"
            >Partner Management Login</a
          >
          <a href="/cooming-soon">Become a Driver</a>
        </div>
      </div>

      <div class="right-section">
        <div class="footer-section-title">Get Assistance</div>

        <div class="footer-links">
          <a href="https://wa.me/+27747521395" target="_blank"
            >Connect to our WhatsApp</a
          >
          <a href="/cooming-soon">Product Documentation</a>
          <a href="/empowered-cities/">Empowered Cities</a>
        </div>
      </div>
    </div>

    <div class="footer-bottom-section">
      <div class="legal-links desktop">
        <a href="/legal/privacy-policy" target="_blank">Privacy Policy</a>
        <a href="/legal/terms-and-conditions" target="_blank"
          >Terms and Conditions</a
        >
        <a href="/legal/cookie-policy" target="_blank">Cookie Policy</a>
        <a href="/legal/b2b-policy" target="_blank"
          >Business&mdash;to&mdash;Business Policy</a
        >
        <a href="/legal/open-source-licenses" target="_blank"
          >Open Source Licenses</a
        >
      </div>

      <div class="social-links mobile">
        <a href="mailto://helpdesk@nextify.co.za"
          ><ion-icon name="at"></ion-icon
        ></a>
        <a href="https://instagram.com/nextify_za/"
          ><ion-icon name="logo-instagram"></ion-icon
        ></a>
        <a href="https://medium.com/nextify_za"
          ><ion-icon name="logo-medium"></ion-icon
        ></a>
        <a href="https://wa.me/+27623184796"
          ><ion-icon name="logo-whatsapp"></ion-icon
        ></a>
        <a href="https://twitter.com/nextify_za"
          ><ion-icon name="logo-twitter"></ion-icon
        ></a>
      </div>

      <div class="attribution-company-copyrights">
        Copyright &copy; 2020. All rights reserved. Nextify Technologies (Pty)
        Ltd. Reg. No.: 2020/435053/07. A true inspiration into innovation.
      </div>
    </div>
  </div>
</div>
