<ion-content (ionScroll)="Header.scrollEvent($event)" [scrollEvents]=true>
  <app-header #Header></app-header>
  <div class="page-content">
    <div class="section primary">
      <div class="section-title subheader-title">Simple pricing.<br>Only pay for what you use.</div>
      <div class="section-buttons">
        <button>See pricing options</button>
      </div>

      <br>
      <div class="description">All prices are percentage based.</div>
      <div class="section-image">
        <img src="/assets/images/people-shaking-hands.gif">
      </div>
    </div>

    <div class="section primary">
      <div class="section-tag-name">Nextify for Partners</div>
      <div class="section-title header-title maxed-width">Keep cheffing.<br>We'll handle the rest.</div>
    </div>

    <div class="section primary">
      <div class="pricing-table">
        <div class="pricing-section">
          <div class="price">
            <div class="pricing-package-name subheader-title">Startup</div>
            <div class="pricing-package-price header-title">8.30%</div>
            <div class="pricing-frequency">Per Order + Driver Fee</div>
          </div>

          <!-- Show all the features that are included within the pricing package -->
          <div class="pricing-package-items">
            <div class="package-items-title">Features included (Has limitations)</div>

            <div class="package-item">
              <div class="name">Standard Theme</div>
              <div class="description">A predefined default design theme will be applied on the app.</div>
            </div>

            <div class="package-item">
              <div class="name">20 SMS Connects</div>
              <div class="description">Send only send 20 SMSs to your customers per day for alerts, and information.</div>
            </div>

            <div class="package-item">
              <div class="name">10 Products</div>
              <div class="description">A maximum of 10 products can be created in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">10 Drivers</div>
              <div class="description">A maximum of 10 drivers that can be added in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">5 Branches</div>
              <div class="description">A maximum of 5 branches can be added in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">5 Discount Codes</div>
              <div class="description">Restaurant only allowed to issue 5 maximum promocodes/discounts.</div>
            </div>

            <div class="package-item">
              <div class="name">5 Statement Requests</div>
              <div class="description">A maximum of 5 statement requests can be made in the platform per month.</div>
            </div>

            <div class="package-item">
              <div class="name">5 Payouts Allowed</div>
              <div class="description">Restaurant can only request payouts at a maximum of 5 times per month (Includes drivers)</div>
            </div>

            <div class="package-item">
              <div class="name">Payment Facility</div>
              <div class="description">Built-in to the app customer can use a Payment Facility to place their orders.</div>
            </div>

            <div class="package-item">
              <div class="name">Implement Custom Feature</div>
              <div class="description">Restaurant can request to have a their own features implemented on the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">Issue Refunds</div>
              <div class="description">Refund a purchase made by a customer at a charge of R3.00 per transaction below R500.</div>
            </div>
          </div>

          <a class="button bordered" href="https://management.nextify.co.za/onboarding?selected-plan=1"><span>Choose Startup</span></a>
        </div>

        <div class="pricing-section">
          <div class="price">
            <div class="pricing-package-name subheader-title">Enterprise</div>
            <div class="recommendation">Best for known local restaurants</div>
            <div class="pricing-package-price header-title">10.30%</div>
            <div class="pricing-frequency">Per Order + Driver Fee</div>
          </div>

          <!-- Show all the features that are included within the pricing package -->
          <div class="pricing-package-items">
            <div class="package-items-title">Features included (Has limitations)</div>

            <div class="package-item">
              <div class="name">Standard Theme</div>
              <div class="description">A predefined default design theme will be applied on the app.</div>
            </div>

            <div class="package-item">
              <div class="name">50 SMS Connects</div>
              <div class="description">Send only send 50 SMSs to your customers per day for alerts, and information.</div>
            </div>

            <div class="package-item">
              <div class="name">20 Products</div>
              <div class="description">A maximum of 20 products can be created in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">30 Drivers</div>
              <div class="description">A maximum of 10 drivers that can be added in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">15 Branches</div>
              <div class="description">A maximum of 5 branches can be added in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited Discount Codes</div>
              <div class="description">No cap will be applied on created discounts.</div>
            </div>

            <div class="package-item">
              <div class="name">15 Statement Requests</div>
              <div class="description">A maximum of 15 statement requests can be made in the platform per month.</div>
            </div>

            <div class="package-item">
              <div class="name">10 Payouts Allowed</div>
              <div class="description">Restaurant can only request payouts at a maximum of 10 times per month (Includes drivers)</div>
            </div>

            <div class="package-item">
              <div class="name">Payment Facility</div>
              <div class="description">Built-in to the app customer can use a Payment Facility to place their orders.</div>
            </div>

            <div class="package-item">
              <div class="name">Implement Custom Feature</div>
              <div class="description">Restaurant can request to have a their own features implemented on the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">Issue Refunds</div>
              <div class="description">Refund a purchase made by a customer at a charge of R3.00 per transaction below R500.</div>
            </div>
          </div>

          <a class="button" href="https://management.nextify.co.za/onboarding?selected-plan=2"><span>Choose Enterprise</span></a>
        </div>

        <div class="pricing-section">
          <div class="price">
            <div class="pricing-package-name subheader-title">Gold</div>
            <div class="pricing-package-price header-title">15.30%</div>
            <div class="pricing-frequency">Per Order + Driver Fee</div>
          </div>

          <!-- Show all the features that are included within the pricing package -->
          <div class="pricing-package-items">
            <div class="package-items-title">Features included. (All included)</div>

            <div class="package-item">
              <div class="name">Custom Theme</div>
              <div class="description">Restaurant can choose a different theme which will be applied to the app.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited SMS Connects</div>
              <div class="description">Send unlimited SMSs to your customers per day for alerts, and information.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited Products</div>
              <div class="description">A maximum of Unlimited products can be created in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited Drivers</div>
              <div class="description">A maximum of Unlimited drivers that can be added in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited Branches</div>
              <div class="description">A maximum of Unlimited branches can be added in the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited Discount Codes</div>
              <div class="description">Restaurant only allowed to issue Unlimited maximum promocodes/discounts.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited Statement Requests</div>
              <div class="description">A maximum of Unlimited statement requests can be made in the platform per month.</div>
            </div>

            <div class="package-item">
              <div class="name">Unlimited Payouts</div>
              <div class="description">Restaurant can only request payouts at a maximum of Unlimited times per month (Includes drivers)</div>
            </div>

            <div class="package-item">
              <div class="name">Payment Facility</div>
              <div class="description">Built-in to the app customer can use a Payment Facility to place their orders.</div>
            </div>

            <div class="package-item">
              <div class="name">Implement Custom Feature</div>
              <div class="description">Restaurant can request to have a their own features implemented on the platform.</div>
            </div>

            <div class="package-item">
              <div class="name">Issue Refunds</div>
              <div class="description">Refund a purchase made by a customer free of charge per transaction below R500.00, charged R3.00 for transaction > R500.00</div>
            </div>
          </div>

          <a class="button bordered" href="https://management.nextify.co.za/onboarding?selected-plan=1"><span>Choose Established</span></a>
        </div>
      </div>
    </div>

    <div class="flex-layout center bottom-links">
      <div class="section primary">
        <a href="/onboarding/custom-pricing" class="button"><span>Request custom pricing</span></a>
        <a href="/contact-us" class="button bordered"><span>Request a demo</span></a>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
