<ion-content (ionScroll)="Header.scrollEvent($event)" [scrollEvents]=true>
  <app-header #Header></app-header>

  <div class="page-content">
    <div class="section primary">
      <div class="section-title subheader-title">We empower restaurants reach<br>their digital potential.</div>

      <br>
      <div class="metrics-container">
        <img src="/assets/images/south-africa.svg" alt="">
        <div class="metrics-items">
          <table>
            <tbody>
              <tr>
                <td>
                  <div class="metric-value">500M</div>
                  <b class="metric-name">Orders Empowered</b>
                </td>
                <td>
                  <div class="metric-value">141</div>
                  <b class="metric-name">Restaurants Partnered</b>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="metric-value">500M</div>
                  <b class="metric-name">Customers Empowered</b>
                </td>
                <td>
                  <div class="metric-value">141</div>
                  <b class="metric-name">Products Empowered</b>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="metric-value">500M</div>
                  <div class="metric-name">Provinces Covered</div>
                </td>
                <td>
                  <div class="metric-value">141</div>
                  <b class="metric-name">Cities Covered</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <div class="section secondary">
      <div class="section-image">
        <img src="/assets/images/pexels-roman-odintsov-4551570.jpeg">
      </div>
    </div>

    <div class="section secondary">
      <div class="section-tag-name">NEXTIFY TECHNOLOGIES (PTY) LTD</div>
      <div class="section-title subheader-title">We ignite the spark<br>for restaurants to thrive<br>in digital commerce.</div>
      <div class="description">The world is moving to a digital age. Almost everyone has <br>access to digital access and ecommerce <br>making it easy as a platform to connect with customers and provided <br>your business over the air.</div>
    </div>

    <div class="section secondary">
      <div class="flex-layout">
        <div class="section-image"><div class="image" style="background-image: url(/assets/images/pexels-magda-ehlers-2660262.jpeg);"></div></div>
        <div>
          <div class="section-tag-name">WHERE WE ARE FROM, OUR ROOTS</div>
          <div class="section-title subheader-title">We are based in South Africa, Gauteng.</div>
          <div class="description">Born in a continent full of culture and love, raised and crafted to bring change, a true inspiration into innovation.</div>
        </div>
      </div>
    </div>

    <div class="section secondary">
      <div class="flex-layout">
        <div>
          <div class="section-tag-name">NOT ONLY FOR INNOVATION</div>
          <div class="section-title subheader-title">We do it for the love of food.</div>
          <div class="description">Everyone is happy when they have a great meal. We are honoured to provide a platform that is spreading smiles all over the world and beyond.</div>
        </div>
        <div class="section-image" style="margin-right: 0;"><div class="image" style="background-image: url(/assets/images/salsa-fiesta.jpeg);"></div></div>
      </div>
    </div>

    <div class="section secondary">
      <div class="centered-layout">
        <div class="section-image"><div class="image" style="background-image: url(/assets/images/pexels-norma-mortenson-4392030.jpeg); margin-bottom: 30px !important;"></div></div>

        <div class="section-tag-name">RESPONSIBILITY IS IN OUR DNA CODEBASE</div>
        <div class="section-title subheader-title">Founded with a Purpose. <br>Built for the People.</div>
        <div class="description">Founded in 2019, our mission is to partner with local restaurants looking to expand their business into the world of online commerce. Therefore, uplifting them and giving their customers the luxury of online shopping.</div>


        <div class="section-buttons">
          <a class="button color-light" href="/onboarding/pricing">See pricing options</a>
          <a class="button bordered" href="/contact-us">Request a demo</a>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
