@import "../../../variables.scss";

// The container of the header
.header-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px $DEFAULT_PAGE_MARGIN;
  z-index: 100000;
}

/* Header logo brand logo */
.header-container .header-brand-logo {
  transition: opacity 300ms ease;
}

.header-container .header-brand-logo img {
  height: 40px;
  border-radius: 100px;
  border: 2px solid $TEXT_COLOR;
  transform: translateY(60px);
  transition: transform 300ms ease;
}

.header-container[isScrolledPage=true] {
  background: linear-gradient(0deg, transparent, $BACKGROUND_COLOR, $BACKGROUND_COLOR);
}

.header-container[isScrolledPage=true] .header-brand-logo img {
  transform: translateY(0);
}
