<ion-content (ionScroll)="Header.scrollEvent($event)" [scrollEvents]=true>
  <app-header #Header></app-header>

  <div class="page-content">
    <div class="section primary" style="padding: 100px 0;">
      <div class="section-tag-name">NOT AVAILABLE AT THE MOMENT</div>
      <div class="section-title subheader-title">Cooming soon.</div>
      <div class="description">We are building bigger and better, this feature is <br>currently unavailable but is being built. Please come <br>check again some time later :)</div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
