<ion-content (ionScroll)="Header.scrollEvent($event)" [scrollEvents]=true>
  <app-header #Header></app-header>

  <div class="page-content">

    <div class="section primary">
      <div class="section-tag-name">Integrations</div>
      <div class="section-title subheader-title">All</div>
    </div>

    <div class="section secondary">
      <div class="integration-items">
        <div class="integration-item"><img src="/assets/images/integrations/mongodb.svg" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/digitalocean.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/kochava.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/mouseflow-logo.png" alt=""></div>

        <div class="integration-item"><img src="/assets/images/integrations/segment.svg" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/google-analytics.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/sendgrid.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/twilio.png" alt=""></div>

        <div class="integration-item"><img src="/assets/images/integrations/google-maps.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/google-geocoding.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/ozow-logo.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/capitec.jpeg" alt=""></div>

        <div class="integration-item"><img src="/assets/images/integrations/absa-logo.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/african-bank-logo.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/fnb-logo.png" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/standard-bank-logo.png" alt=""></div>

        <div class="integration-item"><img src="/assets/images/integrations/tyme-bank-logo.jpeg" alt=""></div>
        <div class="integration-item"><img src="/assets/images/integrations/nedbank-logo.jpeg" alt=""></div>
      </div>
    </div>
  </div>

  <div class="flex-layout center bottom-links">
    <div class="section primary">
      <a href="/onboarding/pricing" class="button"><span>Our pricing packages</span></a>
      <a href="/integrations" class="button bordered"><span>Go back to integrations</span></a>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
