<ion-content (ionScroll)="Header.scrollEvent($event)" [scrollEvents]=true>
  <app-header #Header></app-header>

  <div class="page-content">
    <div class="section primary">
      <div class="section-title subheader-title">Need to talk.<br>We are here to listen.</div>
      <div class="section-buttons">
        <button (click)="NameInput.focus()">Contact us for info</button>
      </div>

      <br>
      <div class="section-image">
        <img src="/assets/images/women-writing-onfloating-notes.gif">
      </div>
    </div>

    <div class="section primary">
      <div class="section-tag-name">Nextify for Partners</div>
      <div class="section-title subheader-title">Contact us.</div>
      <div class="description">We'll respond as soon as we get your message.</div>
    </div>

    <div class="section secondary">
      <div class="form-container">
        <input type="text" placeholder="Your Name" #NameInput>
        <input type="text" placeholder="Your Restaurant name">
        <input type="number" placeholder="No. of Restaurant Branches">
        <textarea class="thoughts-input" type="text" placeholder="Tell us your thoughts"></textarea>

        <div class="input-combined">
          <input type="email" placeholder="Your work Email Address">
          <button>
            <span>Send us a message</span>
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-layout center bottom-links">
    <div class="section primary">
      <a href="/onboarding/pricing" class="button"><span>Our pricing packages</span></a>
      <a href="/" class="button bordered"><span>Take me home</span></a>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
