/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./variables.scss";


/* Browser resets */
ion-content,
html
body {
  padding: 0;
  margin: 0;
  height: 90000px;
}

ion-content {
  --ion-background-color: #000000;
}

* {
  font-size: $DEFAULT_FONT_SIZE;
  font-family: $DEFAULT_FONT_FAMILY;
  color: $TEXT_COLOR;
  box-sizing: border-box;
  outline: none;
}

*::selection {
  background: $THEME_COLOR;
  color: $TEXT_COLOR;
}

*[isShow=false] {
  opacity: 0;
}

a {
  font-weight: 500;
  color: $THEME_COLOR;
  text-decoration: none;
  border-bottom: 2px solid $THEME_COLOR;
  transition: all 300ms ease;
}

a:hover {
  color: $THEME_COLOR;
}


/* Helpers for moving elements around */
.space {
  flex: 5;
}

.padding-up {
  padding-top: $DEFAULT_PADDING;
}

.padding-bottom {
  padding-bottom: $DEFAULT_PADDING;
}

.padding-left {
  padding-left: $DEFAULT_PADDING;
}

.padding-right {
  padding-right: $DEFAULT_PADDING;
}

.margin-up {
  padding-top: $DEFAULT_PADDING;
}

.margin-bottom {
  padding-bottom: $DEFAULT_PADDING;
}

.margin-left {
  padding-left: $DEFAULT_PADDING;
}

.margin-right {
  padding-right: $DEFAULT_PADDING;
}

.flex-layout {
  display: flex;
  gap: 50px;
}

.flex-layout.center {
  justify-content: center;
}

.flex-layout.column {
  flex-direction: column;
}

.description {
  color: $TEXT_COLOR_LIGHT;
  font-weight: 500;
}

.maxed-width {
  max-width: 60%;
}


/* Icons */
ion-icon {
  font-size: $DEFAULT_ICON_SIZE;
}


/* Page header element */
app-header {
  width: 100%;
}


/* Page container */
.page-content {
  position: relative !important;
  padding: 0 $DEFAULT_PAGE_MARGIN;
}


/* Default Button */
button,
.button,
input,
.input,
textarea {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  padding: 12px $DEFAULT_PADDING;
  border: $BORDER;
  border-color: $THEME_COLOR;
  border-radius: 0;
  font-weight: 500;
  background: $THEME_COLOR;
  font-size: $DEFAULT_BUTTON_FONT_SIZE !important;
  cursor: pointer;
  transition: all 300ms ease;
  margin: 0 5px;
}

button > span,
.button > span  {
  font-size: $DEFAULT_BUTTON_FONT_SIZE !important;
}

button.bordered,
.button.bordered {
  background: transparent;
  border-color: $TEXT_COLOR_LIGHT;
}

button.light,
.button.light {
  background: $TEXT_COLOR;
  border-color: $TEXT_COLOR;
}

button.light > *,
.button.light > * {
  color: $TEXT_ON_LIGHT !important;
}

button:hover,
.button:hover {
  transform: scale(1.04);
}

button:first-child,
.button:first-child {
  margin-left: 0;
}

button:last-child,
.button:last-child {
  margin-right: 0;
}


/* Input fields and forms */
input,
.input,
textarea {
  background: $BACKGROUND_COLOR;
  cursor: text;
  transition: border-color 300ms ease;
  border: 2px solid darken($TEXT_COLOR_LIGHT, .2);
  margin-bottom: 10px;
}

input:focus,
.input:focus-within,
textarea:focus {
  border-color: $THEME_COLOR;
}


.form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 80px 100px 0 100px;
  margin: 0 auto;
}


.input-combined {
  display: flex;
  align-items: center;
}

.input-combined input,
.input-combined textarea {
  flex: 1;
  border-radius: 0;
  margin: 0;
  border-right: none;
}

.input-combined button {
  margin: 0;
  border-radius: 0;
  padding: 11.5px $DEFAULT_PADDING;
}


button,
.button,
input,
.input {
  outline: none;
}


/* Header title */
.header-title,
.subheader-title {
  font-weight: 900;
  margin: 10px 0;
}

.header-title {
  font-size: $DEFAULT_HEADER_FONT_SIZE;
  font-weight: bolder;
}

.subheader-title {
  font-size: $DEFAULT_SUBHEADER_FONT_SIZE;
}


/* Sections */
.sections {
  justify-content: center;
  position: relative;
}

.sections:before {
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background: red;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section {
  width: 100%;
  text-align: left;
}

.section img {
  width: 70%;
  margin: 20px auto;
}

.section.primary {
  margin-top: 140px;
}

.section.secondary {
  margin-top: 50px;
}

.section.centered {
  text-align: center;
}

.section.right-align {
  text-align: right;
}

.section.centered > * {
  margin: 0 auto !important;
}

.section .section-buttons {
  margin-top: 20px;
}

.section .description {
  margin-top: 5px !important;
  margin-bottom: 30px !important;
}

.section .icon {
  height: 40px;
  width: auto;
}

.section .section-image {
  width: calc(100% + 60px);
  transform: translateX(-30px);
  border-radius: 10px;
  margin-top: $DEFAULT_PADDING;
}

.section .section-image img {
  width: 100%;
  border-radius: 10px;
  background: $BACKGROUND_COLOR_LIGHT;
}

.section .section-tag-name {
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.section .section-title {
  margin-bottom: 20px;
}

.bottom-links {
  display: grid;
  place-items: center;
}

/* Table layout */
table {
  width: 100%;
}

table tr {
  border-bottom: $BORDER;
}

table tr td {
  padding: $DEFAULT_PADDING;
  font-weight: 500;
}

table thead tr td,
table tbody tr td:first-child {
  font-weight: 900;
}

table tbody tr td:first-child {
  padding-left: 0;
}

/* Listing of integrations */
.integration-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: $DEFAULT_PADDING;
  place-items: center;
  width: 100%;
}

.integration-items .integration-item img {
  width: 100%;
  border-radius: 10px;
  mix-blend-mode: lighten;
}
