// COLORS SETUP
$THEME_COLOR: #106525;
$THEME_COLOR_LIGHT: #1F532C;
$SECONDARY_COLOR: #CF7C7C;
$BACKGROUND_COLOR: #000000;
$BACKGROUND_COLOR_LIGHT: #161616;
$TEXT_COLOR: #FFFFFF;
$TEXT_COLOR_LIGHT: #979797;
$TEXT_ON_DARK: #FFFFFF;
$TEXT_ON_LIGHT: #000000;
$DANGER_COLOR: #FF6347;
$SUCCESS_COLOR: $THEME_COLOR;
$WARNING_COLOR: #FFA500;


// SHAPES AND ELEMENTAL SETUPS
$DEFAULT_PADDING: 20px;
$DEFAULT_PAGE_MARGIN: 250px;
$BORDER: 2px solid $TEXT_COLOR_LIGHT;


// TYPOGRAPHY SETUP
$DEFAULT_FONT_FAMILY: 'Aktiv Grotesk', -apple-system, system-ui, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$DEFAULT_NUMBER_FONT: 'Hack', monospace, sans-serif;
$DEFAULT_FONT_SIZE: 13px;
$DEFAULT_HEADER_FONT_SIZE: 40px;
$DEFAULT_SUBHEADER_FONT_SIZE: 30px;
$DEFAULT_BUTTON_FONT_SIZE: 13px;
$DEFAULT_ICON_SIZE: 17px;


