// COLORS SETUP
$THEME_COLOR: #106525;
$SECONDARY_COLOR: #CF7C7C;
$BACKGROUND_COLOR: #000000;
$TEXT_COLOR: #FFFFFF;
$TEXT_COLOR_LIGHT: #808080;
$TEXT_ON_DARK: #FFFFFF;
$TEXT_ON_LIGHT: #000000;
$DANGER_COLOR: #FF6347;
$SUCCESS_COLOR: $THEME_COLOR;
$WARNING_COLOR: #FFA500;


// SHAPES AND ELEMENTAL SETUPS
$DEFAULT_PADDING: 20px;
$DEFAULT_PAGE_MARGIN: 300px;
$BORDER: 1px solid $TEXT_COLOR_LIGHT;


// TYPOGRAPHY SETUP
$DEFAULT_FONT_FAMILY: 'Aktiv Grotesk', sans-serif;
$DEFAULT_NUMBER_FONT: 'Hack', monospace, sans-serif;
$DEFAULT_FONT_SIZE: 14px;
$DEFAULT_HEADER_FONT_SIZE: 60px;
$DEFAULT_SUBHEADER_FONT_SIZE: 40px;
$DEFAULT_ICON_SIZE: 25px;


