// COLORS SETUP
$THEME_COLOR: #106525;
$THEME_COLOR_LIGHT: #1f532c;
$SECONDARY_COLOR: #cf7c7c;
$BACKGROUND_COLOR: #000000;
$BACKGROUND_COLOR_LIGHT: #161616;
$TEXT_COLOR: #ffffff;
$TEXT_COLOR_LIGHT: #979797;
$TEXT_ON_DARK: #ffffff;
$TEXT_ON_LIGHT: #000000;
$DANGER_COLOR: #ff6347;
$SUCCESS_COLOR: $THEME_COLOR;
$WARNING_COLOR: #ffa500;

// SHAPES AND ELEMENTAL SETUPS
$DEFAULT_PADDING: 20px;
$DEFAULT_PAGE_MARGIN: 250px;
$BORDER: 2px solid $TEXT_COLOR_LIGHT;

// TYPOGRAPHY SETUP
$DEFAULT_FONT_FAMILY: "Aktiv Grotesk", -apple-system, system-ui, system-ui,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$DEFAULT_NUMBER_FONT: "Hack", monospace, sans-serif;
$DEFAULT_FONT_SIZE: 14px;
$DEFAULT_HEADER_FONT_SIZE: 40px;
$DEFAULT_SUBHEADER_FONT_SIZE: 30px;
$DEFAULT_BUTTON_FONT_SIZE: 13px;
$DEFAULT_ICON_SIZE: 17px;
